@media screen and (min-width: 1600px){
    #app-header {
        margin-top: 0;
        text-align: center;
        padding-top: 2vh;
        min-height: 30vh;
        font-family: "Poppins";
        text-align: center;
        color: white;
    }
    
    #header-title {
        padding-top: 50px;
        margin: 0;
        font-size: 6em;
    }
    
    #header-text {
        font-size: 2em;
        margin: 0.75vmin;
    }
    
    #about {
        min-height: 40vmin;
        font-family: "Poppins";
        font-size: 3ch;
        text-align: center;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 12vmin;
        margin-top: 5vmax;
    }

    #about-text {
        font-size: small;
    }

    #landing {
        background: url('/assets/static/headerBg.svg');
        background-size: cover;
    }
}

@media screen and (min-width: 900px) and (min-height: 600px) and (max-width: 1600px){
    #app-header {
        margin-top: 0;
        text-align: center;
        padding-top: 2vh;
        min-height: 30vh;
        font-family: "Poppins";
        text-align: center;
        color: white;
    }
    
    #header-title {
        padding-top: 50px;
        margin: 0;
    }
    
    #header-text {
        font-size: 1em;
        margin: 0.75vmin;
    }
    
    #about {
        min-height: 40vmin;
        font-family: "Poppins";
        font-size: 2ch;
        text-align: center;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 12vmin;
        margin-top: 5vmax;
    }
    
    #about > p {
        font-size: 1.5ch;
    }

    #landing {
        background: url('/assets/static/headerBg.svg');
        background-size: cover;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 900px) and (min-height: 600px){
    #app-header {
        margin-top: 0;
        text-align: center;
        min-height: 25vmin;
        font-family: "Poppins";
        text-align: center;
        color: white;
    }
    
    #header-title {
        padding-top: 10vmin;
        font-size: 2.5ch;
        margin: 0;
    }
    
    #header-text {
        font-size: 1em;
        margin: 0.75vmin;
    }
    
    #about {
        min-height: 40vmin;
        font-family: "Poppins";
        font-size: 2.2vmin;
        text-align: center;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 12vmin;
    }
    
    #about > p {
        font-size: 2.5ch;
    }

    #landing {
        background: url('/assets/static/headerBg.svg');
        background-size: cover;
    }
    
}